---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import { t } from 'node_modules/astro-i18n/dist/src';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends Link {
  type?: string;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

export interface Props {
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  showToggleTheme?: boolean;
  position?: string;
  socialLinks: Array<Link>;
  theme?: string;
  resumeUrl?: string;
}

const { socialLinks = [], links = [] } = Astro.props;
---

<header class="sticky top-0 z-40 flex-none mx-auto w-full transition-all ease-in duration-50 scroll" id="header">
  <div class="py-3 px-3 md:py-3.5 md:px-4 mx-auto w-full md:flex md:justify-between">
    <div class="flex justify-between" style="flex: 1 0 0; min-width: 0;">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
      <div class="flex items-center md:hidden">
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="items-center w-full md:w-auto hidden md:flex dark:text-slate-200 h-[calc(100vh-72px)] md:h-auto overflow-y-auto md:overflow-visible md:mx-5"
      aria-label="Main navigation"
      style="flex-shrink: 0;"
    >
      <ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-l md:text-base">
        {
          links.map(({ text, href }) => (
            <li class="relative group">
              <a class="font-medium px-4 py-1 flex items-center" href={href}>
                {text}
              </a>
              <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-gradient-to-r from-[#ECD06F] to-[#FF9398] transition-all duration-300 group-hover:w-full" />
            </li>
          ))
        }
      </ul>
      <ul class="md:hidden flex mt-4 px-4 w-full">
        <div
          class="transition ease-in-out hover:scale-110 p-0.5 rounded duration-300 bg-gradient-to-r animate-text from-[#FF9398] to-[#ECD06F] hover:from-[#ECD06F] hover:to-[#FF9398]"
        >
          <button class="bg-slate-900 inline-flex items-center p-1 py-1.5 px-4">
            <a
              href="./manuel_ceppi_resume.pdf"
              class="animate-text font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#FF9398] to-[#ECD06F] hover:from-[#ECD06F] hover:to-[#FF9398]"
              download>{t('landing.cvDownload')}</a
            >
          </button>
        </div>
      </ul>
    </nav>

    <div class="md:self-center flex items-center md:mb-0" style="flex: 1 0 0; min-width: 0; justify-content: flex-end;">
      <div class="hidden items-center md:flex">
        <div class="md:flex md:items-center md:justify-between py-4 mr-4">
          {
            socialLinks?.length ? (
              <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
                {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                  <li>
                    <a
                      class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                      aria-label={ariaLabel}
                      href={href}
                      target="_blank"
                    >
                      {icon && <Icon name={icon} class="w-5 h-5" />}
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            ) : (
              ''
            )
          }
        </div>
        <div
          class="transition ease-in-out hover:scale-110 p-0.5 rounded duration-300 bg-gradient-to-r animate-text from-[#FF9398] to-[#ECD06F] hover:from-[#ECD06F] hover:to-[#FF9398]"
        >
          <button class="bg-slate-900 inline-flex items-center p-1 py-1.5 px-4">
            <a
              href="./manuel_ceppi_resume.pdf"
              class="animate-text font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#FF9398] to-[#ECD06F] hover:from-[#ECD06F] hover:to-[#FF9398]"
              download>{t('landing.cvDownload')}</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
